.player-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .center {
    .top {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        cursor: pointer;
        background: none;
        transition: background-color 0.3s ease;

        &:not(:last-child) {
          margin-right: 30px;
        }

        &:not(.bg):hover {
          background-color: #e9ebef;
          border-radius: 5px;
        }

        svg {
          width: 14px;
        }
      }

      .bg {
        background-color: #000;
        border-radius: 50%;
      }
    }

    .bottom {
      text-align: center;
      margin-top: 10px;
      display: flex;
      align-items: center;

      .time {
        color: #717182;
        font-size: 13px;
      }

      .progress {
        margin: 0 30px;
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      width: 14px;
    }

    .progress {
      margin-left: 20px;
    }
  }

  .progress {
    width: 400px;
    height: 15px;
    display: inline-block;
    background-color: #ececf0;
    border-radius: 20px;
  }
}
